# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Unknown person captured photo
input.jpg

# Dataset images (optional - uncomment if you don't want to push)
# datasets/